
*{
    box-sizing: border-box;
  }

body{
    background-image:url('img/pawprint.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}
div{
    margin-top:3em;
}
img{
/* display:flex;
flex-wrap:wrap; */
/* height:35vh; */
width:50%;
height:55vh;
outline: 3px solid black;
}
#btn{
    height:2em;
}
h1 {
    font-size: 65px;
    font-weight: bold;
    background-color: white;
}
/* body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align:center;
    margin-top:15em;

  } */


#s1 {
    width: 100%;
    /* float: left; */
    display: flex;
    flex-direction: column;
    /* align-content: space-around; */
    justify-content: center;
    align-items: center;
    margin-bottom:2em;
 
}
#s2{
    width:100%;
    float:left;
    display:flex;
    justify-content:center;
}

